@model CSGOPraccs.WebUI.Models.PraccListViewModel

@{
    ViewBag.Title = "Praccs";
}


<div class="container">
    @foreach (var p in Model.Praccs)
    {
        @Html.Partial("PraccSummary", p);

    }
</div>


